* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura Md BT', sans-serif;
  }

body {
    /* background-attachment: fixed;
    background-image: url("taust.png");
    background-position: center;
    background-size: cover; */
    row-gap: 4rem;
    background-color: black;
    text-align: center;
    color: white;;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40;
    width: 100%;
    color: white;
    text-align: center;
    font-size: large;
    animation: fadeIn 1.5s ease-in-out;
}

.konteiner{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    float: center;

}

header a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: 30px;
    width: 30vh;
    height: 5vhpx;
    flex-basis: 10px;
    padding: 30px;
    float: center;
}

header a:hover{
    background-color: #393a3d;
    color: white;
    border-radius: 1vmin;
    align-items: center;
}

nav{
    background-color: black;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 85px;
    position: sticky;
    top: 0px;
    z-index: 999;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    top: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}
  
nav a:hover {
    background-color: #393a3d;
    color: white;
    border-radius: 1vmin;
}
  
nav img {
    height: 20px;
    width: 20px;
}
  
.dropdown{
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
}
  
.keeled{
    height: 58px;
    position: relative;
    display: inline-block;
    align-items: right;
}
  
.keelevalik{
    display: none;
    position: absolute;
    border-radius: 1vmin;
    background-color: #595a60;
    min-width: 160px;
    
}
  
.keelevalik a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block
}
  
.keelevalik a:hover{
    background-color: #72737b;
    border-radius: 1vmin;
}
  
.keeled:hover .keelevalik{
    display: block;
}
  
.keeled:hover .dropdown{
    background-color: #393a3d;;
    border-radius: 1vmin;
}


.puffer {
    width: 100%;
    min-height: 20vh;
    background-color: black;
}

.sisu {
    font-family: Helvetica, sans-serif;
    text-align: left;
    color: white;
    padding: 5%;
}

.tekst{
    flex: 1;
    flex-direction: column;
    padding: 5px;
    row-gap: 40px;
    line-height: 30px;
    width: 50%;
    height: 50vh;
    align-items: left;

}

h2{
    margin-bottom: 20px;
}

.kaart {
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

iframe{
    margin-top: 30px;
    width: 90vh;
    height: 60vh;
    border-radius: 1vmin;
}

.ikoonid{
    display: flex;
    width: 100%;
    height: 45vh;
    align-items: center;
    justify-content: center;
}

.ikoon:nth-child(2){
    transition-delay: 200ms;
}
.ikoon:nth-child(3){
    transition-delay: 400ms;
}
.ikoon:nth-child(4){
    transition-delay: 600ms;
}

.ikoon{
    flex-basis: 20px;
    height: 20px;
    margin: 10px;
    padding: 20px;

}

.ikoon a{
    display: block;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.ikoon a:hover{
    background-color: #393a3d;
    color: white;
    border-radius: 5px;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 2.011vmin;
}

.forms{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}


.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

