* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Futura Md BT', sans-serif;
 
  height: 100%;
}

.sisu {
    float: right;
    row-gap: 15px;
    font-size: 20px;
    color: white;
    padding: 5%;
    width: 60%;
    float: left;
}

.sisutekst{
  color: white;
}

.sisutekst h1{
  margin-top: 15vh;
}

.profiilipilt {
  width: 30%;
  height: 50vh;
  float: right;
  border-radius: 50%;
  margin-right: 10vh;

}

footer {
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: black;
  color: #393a3d;
  text-align: center;
  display: block;
}

/* Parallax scroll effect*/
body {
  background-attachment: fixed;
  background-image: url("taust.png");
  background-position: center;
  row-gap: 8px;
  text-align: center;
  color: black;
  height: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  color: black;
  z-index: -1;
  text-align: center;
  font-size: xx-large;
  animation: fadeIn 1.5s ease-in-out;
}

section {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
  height: vh;
  background: black;
  color: white;
}

.puffer {
  width: 100%;
  min-height: 20vh;
  background-color: black;
}

.animate-me {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}