body {
    margin: 0;
    padding: 0;
    font-family: "Courier", sans-serif;
    font-size: 25px solid ;
    line-height: 20px;
    background-color: rgb(46, 46, 46);
}
h1{
    width: 255px;
    margin: 0 auto 3px;
    font-family: "Copperplate", serif;
    text-align: center;
    font-weight: normal;
    font-size: 50px;
    line-height: 64px;
    color: rgb(255, 44, 167);
}
p{
    padding-top: 80px;
    text-align: center;
    color: rgb(255, 131, 187);
}
.pealkirja {
    min-width: 550px;
    height: 130px;
    margin-bottom: 70px;
    padding-top: 25px;
    background: #847462 no-repeat center url("taust.jpg");
    background-size: cover;
    color: #ffffff;
}
img {

}



/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 15px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 5px;
  right: 10px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
