* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AndaleMono", Andale Mondo;
    font-size: 2.3rem

}
header {
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
}


/* Splash screen */

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-bg8-ake2667-teddy-job598_1.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=d223218a7fd6e211c683638e5acc70c6);
    transition: 3s;
}

.logo_header {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -50%);
    color: black;
}

.digidisain {
    position: relative;
    display: inline-block;
    bottom: -20%;
    opacity: 0;
}

.digidisain.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.digidisain.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* PILT + TEKST */

body{
    background-color: black;
}

#Container {
    margin-top: 10%;
    display: flex;
    align-items: center;
    background-color: black;
    margin-right: 5%;
    margin-left: 5%;
}
#Container p{
    width: 30%;
    flex: 1;
    float: right;
    color: white;
}
#Container img{
    width: 60%;
    flex: 0;
}




