* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
  font-family: "AndaleMono", Andale Mondo;
}

.sisu {
    float: right;
    row-gap: 15px;
    font-size: 20px;
    color: white;
    padding: 5%;
    width: 60%;
    float: left;
}

.sisutekst{
  color: white;
}

.sisutekst h1{
  margin-top: 15vh;
}

.profiilipilt {
  width: 30%;
  height: 50vh;
  float: right;
  border-radius: 50%;
  margin-right: 10vh;

}

footer {
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #393a3d;
    text-align: center;
    display: block;
}

nav {
  background-color: black;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 85px;
  position: sticky;
  top: 0px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
  top: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}

nav a:hover {
  background-color: #393a3d;
  color: white;
  border-radius: 1vmin;
}

img {
  height: 20px;
  width: 20px;
}

.dropdown{
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
}

.keeled{
  height: 58px;
  position: relative;
  display: inline-block;
  align-items: right;
}

.keelevalik{
  display: none;
  position: absolute;
  border-radius: 1vmin;
  background-color: #595a60;
  min-width: 160px;
  
}

.keelevalik a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block
}

.keelevalik a:hover{
  background-color: #72737b;
  border-radius: 1vmin;
}

.keeled:hover .keelevalik{
  display: block;
}

.keeled:hover .dropdown{
  background-color: #393a3d;;
  border-radius: 1vmin;
}

/* Parallax scroll effect*/
body {
  background-attachment: fixed;
  background-image: url("taust.png");
  background-position: center;
  background-size: cover;
  row-gap: 8px;
  text-align: center;
  color: black;;
  font-family: "AndaleMono", Andale Mondo;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  color: black;
  z-index: -1;
  text-align: center;
  font-size: xx-large;
  animation: fadeIn 1.5s ease-in-out;
}

section {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
  height: 50vh;
  background: black;
  color: white;
}

.kontakt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1;
  height: 90vh;
  background: black;
  color: white;
}

.animate-me {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}